* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  color: rgb(65, 64, 64);
  /* margin: auto; */
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

img {
  max-width: 90vw;
}

.header-top {
  text-align: center;
  padding: 15px 5px 5px;
}

.header-top a {
  color: rgb(78, 78, 78);
  font-size: 14px;
}

.logo {
  width: 100px;
  height: 80px;
  background: rgb(206, 42, 34);
  text-align: center;
  display: flex;
  cursor: pointer;
  margin: 20px auto;
}

.logo-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  margin: 6px;
  color: white;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  list-style: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(65, 64, 64);
  cursor: pointer;
  padding-bottom: 8px;
}

nav a:hover {
  text-decoration: underline;
}

.icons {
  padding: 20px 0;
}

.icons i {
  padding: 0 10px;
  cursor: pointer;
}

.icons i:hover {
  color: rgb(206, 42, 34);
}

.title-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  padding: 25px 0;
}

.title-content h1,
span {
  color: rgb(206, 42, 34);
  font-size: 3rem;
}

.title-content span {
  font-weight: 100;
}

.btn {
  font-size: 1rem;
  color: rgb(65, 64, 64);
  outline: none;
  border-radius: 25px;
  border-color: rgb(65, 64, 64);
  padding: 8px 16px;
  background: white;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.3s ease;
  background: rgb(65, 64, 64);
  color: white;
}

.title-content .btn {
  margin: 50px 0;
}

.main-image {
  margin: auto;
}

.main-image img {
  max-width: 100%;
  padding-bottom: 50px;
}

/* sale section */

.sale {
  background: rgb(206, 42, 34);
  color: #fff;
  padding: 50px 0;
  margin: 25px auto;
}

h2 {
  font-size: 2rem;
  padding-bottom: 25px;
}

.sale-inside {
  margin: auto;
}

.sale-area {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.sale-item img {
  width: 90vw;
  max-width: 650px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.sale-item img:hover {
  transform: scale(1.05);
}

.sale-item a {
  display: block;
  padding: 15px 0 25px;
  color: #fff;
  font-size: 1.2rem;
}

.onsale {
  margin: 45px auto;
}

.onsale-card {
  padding-bottom: 50px;
}

.slider {
  padding-bottom: 50px;
}

.slider img {
  max-width: 90vw;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.card-content a {
  color: rgb(65, 64, 64);
  font-size: 1.5rem;
}

.card-content p {
  padding: 15px 0 0;
}

.comfort {
  background: rgb(42, 37, 18);
  color: #fff;
  padding: 50px 0 10px;
  margin-bottom: 50px;
}

.comfort .btn {
  background: none;
  color: #fff;
  border-color: #fff;
  margin: 25px 0;
}

.comfort button:hover {
  background: white;
  color: rgb(42, 37, 18);
}

h3 {
  padding: 25px 0;
}

footer {
  background: rgb(36, 34, 34);
  color: #fff;
  padding-top: 50px;
}

footer a {
  color: #fff;
}

.sign-up {
  margin: 25px 0;
  border: white 1px solid;
  border-radius: 25px;
  padding: 8px 16px;
  width: 300px;
}

.sign-up input {
  background: rgb(36, 34, 34);
  border: none;
  outline: none;
  color: white;
}

.sign-up-input::placeholder {
  color: white;
}

.sign-up button {
  cursor: pointer;
  background: rgb(36, 34, 34);
  color: white;
  border: none;
  outline: none;
  float: right;
}

.learn-more {
  padding: 25px 0;
}

.social {
  padding: 25px 0;
  width: 300px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social i {
  cursor: pointer;
  color: white;
}

.contact h4 {
  padding: 25px 0;
}

.contact a {
  display: block;
}

.catalog img {
  padding: 25px 0;
}

.catalog p {
  font-size: 0.8rem;
}

.catalog a {
  margin-bottom: 15px;
}

.footer-copyright {
  padding: 15px 0;
  text-align: center;
}

h5 {
  font-weight: 100;
}

.footer-copyright a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(202, 201, 201);
}

.footer-copyright a:hover,
.contact a:hover {
  text-decoration: underline;
}

.company {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px;
}

@media (min-width: 768px) {
  .header-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    margin: auto;
  }

  /* .header-main .icons {
    text-align: center;
  } */

  nav ul {
    display: flex;
    gap: 30px;
  }

  nav {
    padding: 0 25px;
  }
}

@media (min-width: 1000px) {
  .sale-item img {
    max-width: 420px;
  }

  .card-container {
    justify-content: space-evenly;
    align-items: center;
  }

  .onsale-card p,
  .onsale-card img {
    width: 42vw;
    max-width: 700px;
  }

  .card-container p,
  .card-container img {
    width: 42vw;
    max-width: 650px;
  }

  .footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    padding: 80px 0;
  }

  .newsletter,
  .catalog,
  .contact {
    min-width: 280px;
    max-width: 350px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 90vw;
    max-width: 1500px;
  }

  .slider img {
    max-width: auto;
    width: 1500px;
  }
}
